[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1"

[linters]
mypy = "*"
pylint = "*"
black = "*"
django-stubs = "*"
isort = {extras = ["colors"], version = "*"}

[tests]
coverage = "*"
