[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.9"

[linters]
mypy = "~=1.1"
pylint = "~=2.17"
black = "~=23.1"
django-stubs = "~=1.13"
isort = {extras = ["colors"], version = "~=5.12"}

[tests]
coverage = {extras = ["toml"], version = "~=7.2"}
