{% extends "tracker/base.html" %}

{% block header %}
<header>
  <nav class="navbar navbar-expand fixed-top border-bottom bg-white">
    <div class="container-fluid justify-content-start">
      <a class="navbar-brand pe-3" href="{% url 'index' %}">
        <span class="fs-4">Chronicle</span>
      </a>
      <div class="nav nav-pills">
        {% for page in navbar_links %}
          <a
            class="nav-link"
            href="{% url page %}"
          >
            {{ page|title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</header>

{# Empty div so that main content isn't under header #}
<div class="pt-4 py-5"></div>
{% endblock %}

{% block footer %}
<footer class="d-flex flex-row justify-content-between border-top pt-3">
  <p class="text-muted">&copy; 2023 Robert Gambee</p>
  <p class="text-muted"><a class="text-reset" href="https://github.com/rgambee/chronicle">Source Code</a></p>
  <p class="text-muted"><a class="text-reset" href="https://www.gnu.org/licenses/agpl-3.0.html">License</a></p>
</footer>
{% endblock %}
