<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{% block title %}Page Title{% endblock %}</title>
    {% block header %}{% endblock %}
  </head>
  <body>
    {% block messages %}
      {% if messages %}
        {% load tracker_tags %}
        <div class="toast-container position-fixed top-0 end-0 p-3">
          {% for message in messages %}
            {% setvar "text-bg-body" as toast_class %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              {% setvar "text-bg-danger" as toast_class %}
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
              {% setvar "text-bg-warning" as toast_class %}
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              {% setvar "text-bg-success" as toast_class %}
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
              {% setvar "text-bg-info" as toast_class %}
            {% endif %}
            <div
              class="toast align-items-center {{toast_class}}"
              role="alert"
              aria-live="polite"
              aria-atomic="true"
            >
              <div class="d-flex">
                <div class="toast-body">
                  {{ message }}
                </div>
                <button
                  type="button"
                  class="btn-close me-2 m-auto"
                  data-bs-dismiss="toast"
                  aria-label="Close"
                >
                </button>
              </div>
            </div>
          {% endfor %}
        </div>

        {% load static %}
        <script type="module" src="{% static 'tracker/toast.js' %}"></script>
      {% endif %}
    {% endblock %}

    <div class="container-lg d-flex flex-column min-vh-100">
      <div id="content" class="py-3 flex-grow-1">
        {% block content %}{% endblock %}
      </div>

      <div class="border-top pt-3">
        <footer class="d-flex flex-row justify-content-between">
          <p class="text-muted">&copy; 2023 Robert Gambee</p>
          <p class="text-muted"><a class="text-reset" href="https://github.com/rgambee/chronicle">Source Code</a></p>
          <p class="text-muted"><a class="text-reset" href="https://www.gnu.org/licenses/agpl-3.0.html">License</a></p>
        </footer>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
      integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    </script>
  </body>
</html>
