{% extends "tracker/base.html" %}

{% block title %}Entries{% endblock %}

{% block content %}

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Tags</th>
    <th>Comment</th>
    <th>Edit</th>
  </tr>
  {% for entry in entries %}
    <tr>
      <td>{{ entry.date|date }}</td>
      <td>{{ entry.amount|floatformat:"-2" }}</td>
      <td>{{ entry.category }}</td>
      <td>{{ entry.tags.all|join:", "|default:"No tags"|truncatechars:25 }}</td>
      <td>{{ entry.comment|default:"No comment"|truncatechars:25}}
      <td><a href="{% url 'edit' entry.id %}">Edit</a></td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
