{% extends "tracker/base.html" %}

{% block title %}Entry Form{% endblock %}

{% block content %}

<p><strong>Date:</strong> {{ entry.date|date }}</p>
<p><strong>Amount:</strong> {{ entry.amount|floatformat:"-2" }}</p>
<p><strong>Category:</strong> {{ entry.category }}</p>
<p><strong>Tags:</strong> {{ entry.tags.all|join:", "|default:"No tags" }}</p>
<p><strong>Comment:</strong> {{ entry.comment|default:"No comment" }}</p>

{% if show_delete_link %}
  <a href="{% url 'delete' entry.id %}">Delete</a>
{% endif %}

{% endblock %}
