{% extends "tracker/base.html" %}

{% block header %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/css/tabulator_bootstrap5.min.css"
  integrity="sha512-E3brrBS070QzILPd7448M+21NlCrA3fht9RmFvS9GIKo443nGQRF3tVOuK7YcY1gzPQsaks2cP/Ivp/yhoJCNA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
>
{% endblock %}

{% block title %}Entries{% endblock %}

{% block content %}

<h2>New Entry</h2>
{% include "tracker/form_template.html" with submit_text="Create" validation_styling=True %}

<h2>Existing Entries</h2>
<table id="id_entry_table" class="table table-sm">
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Tags</th>
    <th>Comment</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {% for entry in entries %}
    <tr>
      <td>{{ entry.date|date:"Y-m-d" }}</td>
      <td>{{ entry.amount|floatformat:"-2" }}</td>
      <td>{{ entry.category }}</td>
      <td>{{ entry.tags.all|join:", "|default:"None"|truncatechars:25 }}</td>
      <td>{{ entry.comment|truncatechars:25}}</td>
      <td><a href="{% url 'edit' entry.id %}">Edit</a></td>
      <td><a href="{% url 'delete' entry.id %}">Delete</a></td>
    </tr>
  {% endfor %}
</table>

<div class="pagination">
  <span class="step-links">
    {% if paginator.num_pages > 1 %}
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page=last">last &raquo;</a>
      {% endif %}
    {% endif %}
  </span>
</div>

{# Template used by entry_table.js for range filter for date column #}
<template id="id_date_range_template">
  <form>
    <div class="row mb-2">
      <label
        for="id_date_range_start"
        class="col-sm-2 col-form-label col-form-label-sm"
      >
        Start
      </label>
      <div class="col-sm-8">
        <input
          id="id_date_range_start"
          type="date"
          class="form-control form-control-sm"
          placeholder="Start date"
          {# Tabulator overrides some Bootstrap styling. Here we override it back to what it'd normally be. #}
          style="font-size: 0.875rem; padding: 0.25rem;"
        >
      </div>
      <button
        id="id_date_range_start_clear"
        type="button"
        class="btn-close"
        title="Clear"
        aria-label="Clear"
      >
      </button>
    </div>
    <div class="row mb-2">
      <label
        for="id_date_range_end"
        class="col-sm-2 col-form-label col-form-label-sm"
      >
        End
      </label>
      <div class="col-sm-8">
        <input
          id="id_date_range_end"
          type="date"
          class="form-control form-control-sm"
          placeholder="End date"
          style="font-size: 0.875rem; padding: 0.25rem;"
        >
      </div>
      <button
        id="id_date_range_end_clear"
        type="button"
        class="btn-close"
        title="Clear"
        aria-label="Clear"
      >
      </button>
    </div>
  </form>
</template>

{# Luxon is required by Tabulator for datetime parsing and formatting #}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.2.1/luxon.min.js"
  integrity="sha512-pyR2hpC7bLig9Ub4eUIOC/BAO4anpdt7jhpF4dfrPv+qIg+KWztdVjFPCRCsRaWVfUylUCvrrxqMFNrJBdQIjQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/js/tabulator.min.js"
  integrity="sha512-BGo9xGWI32ZfTMp/ueR3fZKO5nYkPbt3uwMWr+w8w3e72H8A0sTQGO+iqRADwIT0eJkFP1HDgSC82gA4sTuQ6w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>

{% load static %}
<script type="module" src="{% static 'tracker/entry_table.js' %}"></script>

{% endblock %}
