{% extends "tracker/base.html" %}

{% block head %}
{{ block.super }}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/css/tabulator_bootstrap5.min.css"
  integrity="sha512-E3brrBS070QzILPd7448M+21NlCrA3fht9RmFvS9GIKo443nGQRF3tVOuK7YcY1gzPQsaks2cP/Ivp/yhoJCNA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
>
{% endblock %}

{% block pagetitle %}Entries{% endblock %}

{% block content %}

{# Change tooltips for certain buttons when demo mode is active #}
{% load tracker_tags %}
{% setvar "Create Entry" as create_button_title %}
{% setvar "Save Changes" as save_button_title %}
{% if demo_mode|default:False %}
  {% setvar "Saving disabled in demo mode" as create_button_title %}
  {% setvar "Saving disabled in demo mode" as save_button_title %}
{% endif %}

<h2>New Entry</h2>
<form method="post" class="row needs-validation" novalidate>
  {% csrf_token %}
  {{ form.as_div }}
  <div class="col-auto" style="padding-top: 2rem">
    <button
      type="submit"
      title="{{ create_button_title }}"
      class="btn btn-primary"
      {% if demo_mode|default:False %}disabled{% endif %}
      style="pointer-events: auto;" {# Show tooltip even when disabled #}
    >
      Create
    </button>
  </div>
</form>

<div class="d-flex justify-content-between pt-3 pb-1">
  <h2>Existing Entries</h2>
  <div class="align-self-center">
    <button
      id="id_delete_selected_btn"
      type="button"
      title="Delete Selected"
      class="btn btn-sm btn-outline-danger"
    >
      {% include "tracker/icons/trashcan.svg" %}
      Delete
    </button>
    <button
      id="id_undo_btn"
      type="button"
      title="Undo"
      class="btn btn-sm btn-outline-primary"
    >
      {% include "tracker/icons/undo.svg" %}
      Undo
    </button>
    <button
      id="id_redo_btn"
      type="button"
      title="Redo"
      class="btn btn-sm btn-outline-primary"
    >
      {% include "tracker/icons/redo.svg" %}
      Redo
    </button>
    <button
      id="id_save_changes_btn"
      type="button"
      title="{{ save_button_title }}"
      class="btn btn-sm btn-outline-primary"
      {% if demo_mode|default:False %}disabled{% endif %}
      style="pointer-events: auto;" {# Show tooltip even when disabled #}
    >
      {% include "tracker/icons/save.svg" %}
      <span class="ps-1">Save</span>
    </button>
  </div>
</div>
{% comment %}
The table is initially hidden so that it isn't shown before the associated JavaScript
has finished initializing it. When the JS is ready, it sets the table to visible.
{% endcomment %}
<table id="id_entry_table" class="table table-sm" style="visibility: hidden;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Tags</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
  {% for entry in entries %}
    <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.date|date:"Y-m-d" }}</td>
      <td>{{ entry.amount }}</td>
      <td>{{ entry.category }}</td>
      <td>{{ entry.tags.all|join:", " }}</td>
      <td>{{ entry.comment }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    {% if paginator.num_pages > 1 %}
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page=last">last &raquo;</a>
      {% endif %}
    {% endif %}
  </span>
</div>

{# Empty form that entry_table.js fills in when sending entry updates. #}
{# Importantly, it includes the action URL and CSRF token. #}
<form
  id="id_entry_updates_form"
  method="post"
  action="{% url 'updates' %}"
  aria-hidden="true"
>
  {% csrf_token %}
</form>

{# Template used by entry_table.js for range filter for date column #}
<template id="id_date_range_template">
  <form>
    <div class="row mb-2">
      <label
        for="id_date_range_start"
        class="col-sm-2 col-form-label col-form-label-sm"
      >
        Start
      </label>
      <div class="col-sm-8">
        <input
          id="id_date_range_start"
          type="date"
          class="form-control form-control-sm"
          placeholder="Start date"
          {# Tabulator overrides some Bootstrap styling. Here we override it back to what it'd normally be. #}
          style="font-size: 0.875rem; padding: 0.25rem;"
        >
      </div>
      <button
        id="id_date_range_start_clear"
        type="button"
        class="btn-close"
        title="Clear"
        aria-label="Clear"
      >
      </button>
    </div>
    <div class="row mb-2">
      <label
        for="id_date_range_end"
        class="col-sm-2 col-form-label col-form-label-sm"
      >
        End
      </label>
      <div class="col-sm-8">
        <input
          id="id_date_range_end"
          type="date"
          class="form-control form-control-sm"
          placeholder="End date"
          style="font-size: 0.875rem; padding: 0.25rem;"
        >
      </div>
      <button
        id="id_date_range_end_clear"
        type="button"
        class="btn-close"
        title="Clear"
        aria-label="Clear"
      >
      </button>
    </div>
  </form>
</template>

{# Template used by entry_table.js for filtering amount column #}
<template id="id_amount_comparison_template">
  <form>
    <select
      id="id_amount_comparison_select"
      class="form-select"
      aria-label="Comparison type"
    >
      <option value=">=">>=</option>
      <option value="<="><=</option>
      <option value="==">==</option>
    </select>
    <input
      id="id_amount_filter"
      type="number"
      class="form-control"
      min="0"
      step="1"
      placeholder="Filter amount"
      aria-label="Filter amount"
    >
  </form>
</template>

{# Luxon is required by Tabulator for datetime parsing and formatting #}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.2.1/luxon.min.js"
  integrity="sha512-pyR2hpC7bLig9Ub4eUIOC/BAO4anpdt7jhpF4dfrPv+qIg+KWztdVjFPCRCsRaWVfUylUCvrrxqMFNrJBdQIjQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.4/js/tabulator.min.js"
  integrity="sha512-BGo9xGWI32ZfTMp/ueR3fZKO5nYkPbt3uwMWr+w8w3e72H8A0sTQGO+iqRADwIT0eJkFP1HDgSC82gA4sTuQ6w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>

{% load static %}
<script type="module" src="{% static 'tracker/form_validation_styling.js' %}"></script>
<script type="module" src="{% static 'tracker/entry_table.js' %}"></script>

{% endblock %}
