{% load tracker_tags %}
{% setvar ' active bg-white text-primary" aria-current="page' as nav_link_active %}
{% setvar ' text-white' as nav_link_inactive %}

<header>
  <nav class="navbar navbar-expand fixed-top border-bottom bg-primary">
    <div class="container-fluid justify-content-start">
      {% block navbranding %}
        <a class="navbar-brand text-white px-3 fs-4" href="{% url 'index' %}">
          {% block navbranding_logo %}
            {% include "tracker/clipboard.svg" %}
          {% endblock %}
          {% block navbranding_name %}Tracker{% endblock %}
        </a>
      {% endblock %}
      <div class="nav nav-pills">
        {% for page in navbar_links %}
          <a
            class="nav-link{% if navbar_active == page %}{{nav_link_active}}{% else %}{{nav_link_inactive}}{% endif %}"
            href="{% url page %}"
          >
            {{ page|title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</header>

{# Empty div so that main content isn't under header #}
<div class="pt-4 py-5"></div>
