{% extends "tracker/base.html" %}

{% block header %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.1/echarts.min.js"
  integrity="sha512-OTbGFYPLe3jhy4bUwbB8nls0TFgz10kn0TLkmyA+l3FyivDs31zsXCjOis7YGDtE2Jsy0+fzW+3/OVoPVujPmQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer">
</script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md px-0" id="bar-chart" style="min-height:400px;"></div>
    <div class="col-md px-0" id="pie-chart" style="min-height:400px;"></div>
  </div>
  <div class="row">
    <div class="col-lg" id="heatmap-chart" style="min-width: 650px; min-height:400px;"></div>
  </div>
</div>

{{ entries|json_script:"tracker-data" }}

{% load static %}
<script type="module" src="{% static 'tracker/plot.js' %}"></script>

{% endblock %}
